<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Simply Do TV</title>
  <link rel="stylesheet" href="css/default.css"/>
</head>
<body>
  
<div ng-controller="ChannelCtrl">

  <div id="channelIndicator">
    <h1 ng-show="currentChannel">{{channels[currentChannel]}}</h1>
    <p id="tagline"><a href="http://simplydo.com" target="new"><span ng-show="currentChannel">on </span>Simply Do TV</a></p>
    <ul>
      <li><a ng-click="toggleSwitcher();">Switch Channel</a></li>
    </ul>
    <ul ng-hide="!currentChannel">
      <li><a ng-click="whatIsOn();">What is on?</a></li>
      <li><a ng-click="previous();">previous</a></li>
      <li><a ng-click="next();">next</a></li>
    </ul>
    <ul ng-hide="!currentChannel">
      <li><a ng-click="shuffle();" ng-hide="shuffled">shuffle</a></li>
      <li><a ng-click="unShuffle();" ng-show="shuffled">un-shuffle</a></li>
    </ul>

  </div>

  <div id="videoDetails" ng-show="videoDetails">
    <a ng-click="videoDetails = false;" class="closeSelector"><i class="icon-remove-sign"></i> Close</a>
    <h2>{{videoDetails.data.title}}</h2>
    <p>{{videoDetails.data.description}}</p>
    <p ng-show="videoDetails.data.player.default"><a href="{{videoDetails.data.player.default}}" target="new">Open on YouTube</a></p>
  </div>

  <div id="channelManagement" ng-show="showSwitcher">
    <a ng-click="showSwitcher = false;" class="closeSelector"><i class="icon-remove-sign"></i> Close</a>
    <ul class="channels {{showSwitcher}}">
      <li ng-repeat="(channel, displayName) in channels" ng-class="{active: channel == currentChannel}">
        <a ng-click="removeChannel(channel);" class="remove"><i class="icon-trash icon-white"></i></a>
        <a ng-click="selectChannel(channel);">{{displayName}}</a>
      </li>
    </ul>
    <div ng-show="storageSupport">
      <p><a ng-click="showForm = true;" ng-hide="showForm">Add new Channel</a></p>
      
      <div ng-show="showForm">
        <form ng-submit="addChannel()">
          <p>
            <input type="text" ng-model="newChannel.name" placeholder="Enter youtube ID" />
            <input type="text" ng-model="newChannel.displayName" placeholder="Enter a display name" />
          </p>
          <p>
            <button type="submit" class="btn btn-primary">Add</button> <a class="btn" ng-click="showForm = false;">Cancel</a>
          </p>
        </form>
        <p><a ng-click="resetDefaultChannels();" class="warning">Restore Default Channels</a></p>
      </div>
      
    </div>
  </div>

  <div ng-show="channels[currentChannel]">
    <div id="ytplayer"></div>
  </div>

</div>

<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-resource.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>

<script>

  // 1. Declaring some global variables
  var player;

  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "http://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      playerVars: {rel:0,version:3,controls:0,modestbranding:1,origin:'simplydo.com',listType:'user_uploads',showinfo:1},
      events: {
      'onReady': onytPlayerReady,
      'onStateChange': onytplayerStateChange
    }
    });
  }

  // 4. The API will call this function when the video player is ready.
  function onytPlayerReady() {
    //alert('ready');
  }

  // 5. The API calls this function when the player's state changes.
  function onytplayerStateChange(event) {
    if (event.data == YT.PlayerState.CUED) {
      player.playVideo();
    }
    if (event.data == YT.PlayerState.ENDED) {
      player.nextVideo();
    }
    if (event.data == YT.PlayerState.PAUSED) {
      player.playVideo();
    }
  }
</script>
</body>
</html>
